
# -------------------------------------------
# Neon Database Configuration
# -------------------------------------------
DATABASE_URL=postgresql://user:password@ep-xxx-xxx.us-east-2.aws.neon.tech/snifr?sslmode=require

# -------------------------------------------
# SMTP Configuration for Sending Emails


# SMTP Server Settings
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false

# Your Email Credentials
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password

SMTP_FROM_EMAIL=noreply@snifr.app
